@media screen and (max-width:670px) {
    .header-ad {
        height:50px;
        line-height:50px;
        width:100%;
        font-size:10px;
    }

    .header-con {
        width:90%;
    }

    .header-logo img {
        width:40%;
    }

    .header-menu a{
        display:none;
    }

    .header-icon span{
        padding-left:0px;
        padding-right:0px;
    }

    .header-icon {
        display:none;
    }

    .sp-header-icon {
        display: inline-block!important;
    }

    #global_nav {
        width: 100%;
    }

    .hamburger-menu {
        float:right;
        padding-left:15px;
    }

    .hamburger-menu-item {
        display:block;
        line-height:50px;
        font-size:12px;
        padding-left:30px;
    }
    
    .nav-content {
	    width: 300px;
	    max-width: 300px;
    }

    aside {
        width:0%;
    }

    main {
        width:100%;
        padding-left:0px !important;
        margin-left:-10px !important;
    }

    .search_container{
        display:none;
    }

    .search_container input[type="text"]{
        display:none;
    }

    .search_container input[type="text"]:focus {
        display:none;
    }
      
    .search_container input[type="submit"]{
        display:none;
    }
    
    .side-menu {
        display:none;
    }
    
    .side-menu-list {
        display:none;
    }
    
    .sec_inner_1 {
        width:375px;
        height:375px;
    }
    
    .slider-img-1{
        width:100%;
    }


}
