@media screen and (max-width:670px) {
    .top-register {
        max-width:100%;
        text-align: center;
        margin:0 auto;
    }

    .header-con {
        width:90%;
        margin:0 auto;
    }

    .header-logo img {
        width:40%;
    }

    .header-menu {
        display:none;
    }

    .header-menu a {
        display:none;
    }

    .header-icons {
        display:none;
    }

    .header-icon {
        display:none;
    }

    .sp-header-icons {
        display:inline-block!important;
    }

    aside {
        width:0%;
        padding-left:0px;
        padding-right:0px;
    }

    main {
        width:100%;
    }

    .con1-wrapper{
        width:100%;
        margin:0 auto;
    }

    .search_container{
        display: none;
    }

    .search_container input[type="text"]{
        display:none;
    }

    .search_container input[type="text"]:focus {
        display: none;
    }
      
    .search_container input[type="submit"]{
        display: none;
    }
    
    .side-menu {
        display: none;
    }

    .category {
        display: none;
    }

    .category ul {
        display: none;
    }

    .category li {
        display: none;
    }

    .sec_inner_1 {
        width:100%;
        height:auto;
        margin-top:5px;
    }
    
    .sp-category {
        display:block;
        width:100%;
        padding-top:20px;
        margin-bottom:20px;
        font-size:0px;
    }

    .sp-category a{
        display:inline-block!important;
        margin-top:5px;
        width:33.3%;
        background-color:#F5F5F5;
        border:1px solid #E9E9E9;
        padding: 0px!important;
        text-align:center;
        height:40px;
        line-height:40px;
        font-size:10px;
    }

    .sp-search_container{
        box-sizing: border-box;
        position: relative;
        border: 1px solid #AFAEAE;
        display: block!important;
        padding: 3px 16px;
        height: 2.3em;
        width: 300px;
        margin:0 auto;
    }

    .sp-search_container input[type="text"]{
        border: none;
        position: relative;
        height: 2.0em;
    }

    .sp-search_container input[type="text"]:focus {
        outline: 0;
    }
      
    .sp-search_container input[type="submit"]{
        cursor: pointer;
        font-family: FontAwesome;
        border: none;
        border-radius: 20%;
        background: #fff;
        color: #AFAEAE;
        outline : none;
        width: 2.0em;
        height: 2.0em;
        transform: translate(90px, 0px);
    }

    .topics {
        margin-top:0px;
        padding-top:20px;
    }

    .topics-img {
        padding-bottom:10px;
        width:100%;
    }

    .news a {
        margin-top: 60px;
        margin-bottom:60px;
    }

    .narrival{
        padding-bottom:20px;
    }

    .title {
        padding-top:20px;
    }

    .sec_inner_2 {
        display:none;
    }

    .slider-2 {
        display: none;
    }

    .newitem {
        display: none;
    }
    
    .slider-img-2 {
        display: none;
    }
    
    .slider-2 p{
        display: none;
    }
    
    .slider-2 .slick-next{
        display: none;
    }
    
    .slider-2 .slick-prev{
        display: none;
    }
    
    .slider-2 .slick-arrow{
        display: none;
    }

    .slider-2 .slick-arrow:before{
        display: none; 
    }
    
    .slider-2 .slick-dots {
        display: none;
    }

    .sp-c-newitem {
        display:block;
    }

    .sp-newitem {
        display:block;
        float:left;
        width:50%;
        padding:5px;
    }

    .sp-slider-img-2 {
        display:block;
        width:90%;
        margin:0 auto;
    }

    .sp-newitem p{
        display:block;
        font-size:12px;
        width:90%;
        margin:0 auto;
        text-align: center;
        padding:10px 0px 20px 0px;
    }

    .sp-c-viewmore {
        display:block;
        margin-top:60px;
        margin-bottom:60px;
        text-align:center;
    }
    
    .sp-viewmore {
        display: inline-block;
        font-size:12px;
        color:#322925;
        border:1px solid #322925;
        padding:15px 40px;
    }
    
    .sp-viewmore:hover {
        color:#fff;
        background-color:black;
        cursor:pointer;
    }

    .c-hotword {
        margin-top:60px;
        padding-left:5px;
        padding-right:5px;
        margin-bottom:60px;
    }
    
    .collection-img {
        width:50%;
        margin:0 auto;
        float:left;
        padding:5px;
    }

    .sp-title {
        display:block;
        text-align: center;
        padding-top:60px;
        padding-bottom:10px;
        border-bottom:1px solid #E9E9E9;
    }

    .title {
        display:none;
      }
    
    .ranking li {
        display:none;
      }
       
    .ranking li:not(:last-child) {
        display:none;
      }
       
    .ranking li::before { /* ラベルと順位のスタイル */
        display:none;
      }
    
    .ranking-item {
        display:none;
    }
    
    .ranking-item img {
        display:none;
    }
    
    .ranking-item p{
        display:none;
    }
    
    .ranking-item-price {
        display:none;
    }

    .sp-ranking {
        display:block;
        list-style: none;
        counter-reset: rank;
        margin:0 auto;
        text-align:center;
        margin-left:-50px;
      }
    
    .sp-ranking li {
        display:block;
        position: relative;
      }
       
    .sp-ranking li:not(:last-child) {
        display:block;
        margin-bottom: 20px;
      }
       
    .sp-ranking li::before { /* ラベルと順位のスタイル */
        display:block;
        counter-increment: rank;
        content: counter(rank) "";
        position: absolute;
        padding: 6px 10px;
        font-size: 10px;
        color: #fff; /* 文字色 */
        border-radius:50%;
        text-align: center;
      }
    
    .sp-ranking-item {
        display:block;
        width:50%;
        float:left;
        padding:5px 5px 5px 15px;
    }
    
    .sp-ranking-item img {
        display:block;
        width:100%;
        margin:0 auto;
    }

    .sp-ranking-item img:hover {
        opacity: 0.5;
        cursor:pointer;
    }
    
    .sp-ranking-item p{
        display:block;
        text-align:center;
        font-size:10px;
    }

    .sp-ranking-item p:hover {
        opacity: 0.5;
        cursor:pointer;
    }
    
    .sp-ranking li:nth-child(1)::before { 
        background-color: #D6A324;
      }
    
    .sp-ranking li:nth-child(2)::before { 
        background-color:#C0C0C0;
      }
    
    .sp-ranking li:nth-child(3)::before { 
        background-color:#C07022;
      }
    
    .sp-ranking li:nth-child(4)::before { 
        background-color:#5C5C5C;
      }
    
    .sp-ranking li:nth-child(5)::before { 
        background-color:#5C5C5C;
      }
    
    .sp-ranking-item-price {
        display:block;
    }
    

   
}
