@media screen and (max-width:670px) {
    .header-ad {
        height:50px;
        line-height:50px;
        width:100%;
        font-size:10px;
    }

    .header-con {
        width:90%;
    }

    .header-logo img {
        width:40%;
    }

    .header-menu a{
        display:none;
    }

    .header-icon span{
        padding-left:0px;
        padding-right:0px;
    }

    .header-icon {
        display:none;
    }

    .sp-header-icon {
        display: inline-block!important;
    }

    #global_nav {
        width: 100%;
    }

    .hamburger-menu {
        float:right;
        padding-left:15px;
    }

    .hamburger-menu-item {
        display:block;
        line-height:50px;
        font-size:12px;
        padding-left:30px;
    }
    
    .nav-content {
	    width: 300px;
	    max-width: 300px;
    }

    aside {
        width:0%;
    }

    main {
        width:100%;
        padding-left:0px !important;
    }

    .con1-wrapper{
        width:100% !important;
        margin:0 auto;
    }

    .search_container{
        display:none;
    }

    .search_container input[type="text"]{
        display:none;
    }

    .search_container input[type="text"]:focus {
        display:none;
    }
      
    .search_container input[type="submit"]{
        display:none;
    }
    
    .side-menu {
        display:none;
    }
    
    .side-menu-list {
        display:none;
    }
    
    .sec_inner_1 {
        width:100%;
        height:100%;
        margin-bottom:-450px;
    }
    
    .slider-img-1{
        width:100%;
    }

    .sp-category {
        display:block;
        width:100%;
        margin-bottom:20px;
        font-size:0px;
    }

    .sp-category a{
        display:inline-block!important;
        margin-top:5px;
        width:33.3%;
        background-color:#F5F5F5;
        border:1px solid #E9E9E9;
        padding: 0px!important;
        text-align:center;
        height:40px;
        line-height:40px;
        font-size:10px;
    }

    .sp-search_container{
        box-sizing: border-box;
        position: relative;
        border: 1px solid #AFAEAE;
        display: block!important;
        padding: 3px 16px;
        height: 2.3em;
        width: 300px;
        margin:0 auto;
    }

    .sp-search_container input[type="text"]{
        border: none;
        position: relative;
        height: 2.0em;
    }

    .sp-search_container input[type="text"]:focus {
        outline: 0;
    }
      
    .sp-search_container input[type="submit"]{
        cursor: pointer;
        font-family: FontAwesome;
        border: none;
        border-radius: 20%;
        background: #fff;
        color: #AFAEAE;
        outline : none;
        width: 2.0em;
        height: 2.0em;
        transform: translate(90px, 0px);
    }

    .topics {
        margin-top:20px;
    }

    .topics img {
        width:100%;
        padding:0px 0px 5px 0px;
    }

    .sec_inner_2 {
        display:none;
    }

    .slider-2 {
        display:none;
    }

    .new-item {
        display:none;
    }

    .sp-new-item {
        width:50%;
        float:left;
    }

}
